In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
raw_df = yf.download("EURUSD=X", start="2020-01-01", end="2024-07-01", period="1D")

[*********************100%***********************]  1 of 1 completed

In [3]:
raw_df

                Open      High       Low     Close  Adj Close  Volume
Date
2020-01-01  1.122083  1.122838  1.115947  1.122083   1.122083       0
2020-01-02  1.121894  1.122712  1.116682  1.122083   1.122083       0
2020-01-03  1.117081  1.118068  1.112570  1.117144   1.117144       0
2020-01-06  1.116246  1.120825  1.115810  1.116196   1.116196       0
2020-01-07  1.119583  1.119946  1.113487  1.119799   1.119799       0
...              ...       ...       ...       ...        ...     ...
2024-06-24  1.068776  1.074703  1.068444  1.068776   1.068776       0
2024-06-25  1.073272  1.074576  1.069221  1.073272   1.073272       0
2024-06-26  1.070962  1.072041  1.066769  1.070962   1.070962       0
2024-06-27  1.068011  1.072616  1.067783  1.068011   1.068011       0
2024-06-28  1.070847  1.072099  1.068604  1.070847   1.070847       0

[1173 rows x 6 columns]